html{
    box-sizing: border-box;
    width: 1600px;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
} 

a {
   text-decoration: none;
}

button {
    cursor: pointer;
}

.link {
   color: #0f0101;
}


.container{
    width: 1110px;
    margin: 0 auto;
}

header{
background-color:  rgb(233, 240, 253);
}

.head_menu {
    padding-top: 38px;
    padding-bottom: 32px;
}

.menu_nav{
    font-size: 0;
    margin: 0 auto;
}

.logotype{
    font-size: 30px;
    text-transform: uppercase;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 400;
    color: rgb(85, 82, 82);
}

.logotype::first-letter {
    color: rgb(26, 188, 156);
    font-weight: 900;
}

.menu_nav_list{
    float: right; 
    color: #0f0101;
    margin-top: 10px;
}

.menu_nav_list_item{
    text-transform: uppercase;
    float: left; 
}

.link_nav_list_item{
    display: block;
    padding-left: 30px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    list-style: none;
    font-size: 14px;
    line-height: 11px;
    font-weight: 700;
}

.link_nav_list_item:hover{
    color: #39c5a9;
}

.link_nav_list_item:focus {
    color: #39c5a9;
    opacity: 50%;
}

.featured_products{
    background-color:  rgb(233, 240, 253);
}

.new_collection_name {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    margin-bottom: 90px;
    line-height: 50px;
}


.new_collection_list{
    list-style: none;
    margin: 0 auto;
    font-size: 0;
    padding-inline-start: 0;
}

.new_collection_list_item{
  float: left;
  width: 254px;
  height: 322px;
  margin-left: 0;
  margin-right: 31px;
  margin-bottom: 30px;
  background-color: #e9f0fd;
}

.new_collection {
    display: inline-block;
    float: left;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase; 
    font-size: 18px; 
    line-height: 40px;
    background-color: rgb(50, 50, 50);
    width: 80%;
}

.new_collection_list_item:nth-child(4n+4){
    margin-right: 0;
}

.new_collection_list_item:nth-last-child(-n+4){
    margin-bottom: 0;
}

.new_collection_link:hover .new_collection{
    background-color: #1abc9c;
    font-weight: 300;
}

.new_collection_link:hover .price {
    background-color: rgba(28, 186, 156, 0.44);
}


.new_collection_name::after{
    content: "";
    width: 164px;
    height: 8px;
    background-color: #1abc9c;
    display: block;
    margin: 0 auto;
    margin-top: 32px ;
}

.price{
    color: #ffffff;
    display: inline-block;
    float: right;
    background-color: rgba(50, 50, 50, 0.44);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase; 
    font-size: 18px; 
    line-height: 40px;
    font-weight: 700;
    width: 20%;
    text-align: center;
}

.slider_menu{
    position: relative;
    padding-bottom: 100px;
    background-color:  rgb(233, 240, 253);
}

.slider_text{
    position: absolute;
    top: 38%;
    left: 51%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}

.slider-title{
    font-size: 60px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.367;
    text-align: center;
}
  
  .slider_info{
    font-size: 24px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.367;
    padding-left: 16%;
}

.button_slider{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}

.prev{
    position: absolute;
    left: 0;
    background-color: rgb(26, 188, 156);
    position: absolute;
    width: 104px;
    height: 104px;
    border: none;
}

.next{
   position: absolute;
   right: 0;
   background-color: rgb(26, 188, 156);
   position: absolute;
   width: 104px;
   height: 104px;
   border: none;
}

.bg_slider_img{
    display: block;
}

.bg_slider::before{
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.52);
  }

.new_collection_list_item{
      position: relative;
      display: block;
  }

.list_item_overlay {
    width: 254px;
    height: 282px;
    background-color: rgb(0, 0, 0);
    border: rgb(255, 255, 255) solid 10px;
    opacity:0;
    position: absolute;
    top: 0;
    z-index: 1;
}

.list_item_overlay:hover{
    opacity: 0.549;
}

.buttons_new_collection{
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    z-index: 10;
}

.button_list{  
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
}

.button_list:nth-last-child(-n+2){
    margin-right: 0;
    margin-bottom: 0;
}

.btn{
    width: 50px;
    height: 50px; 
    color: slategrey;
    font-size: 16px;
    background-color: inherit;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    position: relative;
}

.btn:hover{
    border-width: 1px;
    border-color: rgb(26, 188, 156);
    border-style: solid;
    background-color: rgba(26, 188, 156);
}


.add_to_cart{
    width: 166px;
    height: 50px; 
}

.btn_cart_text{
    position: absolute;
    right: -20%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase; 
    font-size: 14px; 
    line-height: 32px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: -20%;
}

.cart_img{
    position: absolute;
    left: 20%; 
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}



