html{
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(78, 78, 78);
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
    border: none;
}

ul,
ol {
    list-style: none;
}

.container{
width: 940px;
margin: 0 auto;
}

@font-face {
    font-family: 'Oleo Script Swash Caps';
    font-style: normal;
    font-weight: 400;
    src: local('Oleo Script Swash Caps'), local('OleoScriptSwashCaps-Regular'),
         url('../fonts/oleo-script-swash-caps-v7-latin-regular.woff2') format('woff2'),
         url('../fonts/oleo-script-swash-caps-v7-latin-regular.woff') format('woff');
  }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
        src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
  }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Black'), local('Montserrat-Black'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
         url('../fonts/montserrat-v14-latin-700.woff') format('woff');
  }


@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-slab-v11-latin-regular.woff') format('woff');
  }

@font-face {
    font-family: 'Arvo';
    font-style: italic;
    font-weight: 400;
    src: local('Arvo-Italic'),
         url('../fonts/arvo-v13-latin-italic.woff2') format('woff2'),
         url('../fonts/arvo-v13-latin-italic.woff') format('woff');
  }

.header_box {
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
    padding-top: 50px;
    margin-bottom: 84px;
}

.header_nav_list{
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 2.929;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.header_nav_list_item{
    margin-left: 20px;
}

.header_nav_list_item:first-child{
    margin-left: 0;
}

.header_nav_list_link:hover{
    color: rgb(254, 224, 121);
}

.logotype_item{
    font-size: 26px;
    font-family: 'Oleo Script Swash Caps',sans-serif;
    color: rgb(254, 224, 121);
    line-height: 1.577;
    text-align: left;
}

.logotype_item:hover {
    color: rgb(78, 78, 78);
}

.logotype_box{
    margin-left: 8px;
}

.services_box{
    text-align: center;
}

.services_group_title{
    margin-bottom: 74px;
}

.services_group_title_main{
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    color: rgb(34, 34, 34);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.875;
}

.services_group_title_sub{
    font-size: 16px;
    font-family: 'Arvo', serif;
    color: rgb(119, 119, 119);
    font-weight: 400;
    font-style: italic;
    line-height: 1.2;
}

.services_group_info_list {
    display: flex;
    justify-content: space-between;
}

.services_group_info_list_item{
    width: 324px;
}

.services_group_info_list_title{
    font-size: 18px;
    font-family: "Montserrat",sans-serif;
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height: 4.167;
}
  
.services_group_info_list_text{
    font-size: 14px;
    font-family: "RobotoSlab", sans-serif;
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: center;
}

.e_commerce::before{
    content: url(../pics/Icon-Basket.png);
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 2px solid rgb(254, 209, 54);
    border-radius: 50%;
    margin: 0 auto;
}

.responsive_web::before{
    content: url(../pics/Icon-Laptop.png);
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 2px solid rgb(254, 209, 54);
    border-radius: 50%;
    margin: 0 auto;
}

.web_security::before{
    content: url(../pics/Icon-Locked.png);
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 2px solid rgb(254, 209, 54);
    border-radius: 50%;
    margin: 0 auto;
}

main{
    padding-bottom: 104px;
}

footer{
    background: url(../pics/Background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer_box {
    position: relative;
}

.contact_us_title{
    text-align: center;
    padding-top: 60px;
    margin-bottom: 78px;

}
.contact_us_title_main{
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.875;
}

.contact_us_title_sub{
    font-size: 16px;
    font-family: 'Arvo', serif;
    color: rgb(119, 119, 119);
    font-weight: 400;
    font-style: italic;
    line-height: 1.2;
}

.contact_us_forms{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(187, 187, 187);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    position: relative;
    padding-bottom: 116px;
}

.contact_us_forms_left_column{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 456px;
}

.contact_us_forms_right_column{
    width: 456px;
}

.contact_us_forms_left_column input {
    border: 1px solid #c6c7cc;
    border-radius: 2px;
    padding: 6px;
    margin-bottom: 28px;
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(187, 187, 187);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}

.contact_us_forms_left_column select{
    padding: 6px;
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(187, 187, 187);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}

textarea {
    width: 100%;
    height: 206px;
    resize: none;
    border-radius: 2px;
    padding-left: 8px;
    padding-top: 14px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(187, 187, 187);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
   } 

.submit_btn{
    border-radius: 3px;
    background-color: rgb(254, 209, 54);
    border: none;
    width: 240px;
    height: 64px;
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(-50%);
} 

input:valid:focus {
    border-color: rgb(168, 255, 38);
    Box-shadow:0px 0px 0px 2px rgb(168, 255, 38);
  }

input:invalid:focus {
    border-color: red;
    Box-shadow:0px 0px 0px 2px #f00;
  }


