html{
    box-sizing: border-box;
    width: 1200px;
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.container {
 width:900px;
 margin: 0 auto; 
 color: rgb(109,109,109)
}

.container h2{
    color:rgb(98,98,98);
}

.container p{
    color: rgb(109,109,109);
}

.page-menu {
    margin-left: 166px;
    margin-right: 166px;
}

.menu li{
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
}



img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 32px;
}


.info-item{
    width: 420px;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 56px;
    margin-bottom:136px ;
}

.info p{
    margin: 0;
    margin-bottom:32px ;
}

.info h2{
    margin: 0;
    margin-bottom:46px;  
    font-size: 30px;
}

.info{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    }

.info-item:nth-child(2n){
    margin-right: 0;
}

.info-item:nth-last-child(-n+2){
    margin-bottom: 0;
}

.menu {
    font-size: 14px;
    margin:auto 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.menu:hover li{
    opacity: 0.6;
}


footer{
    width:900px ;
    margin: 0 auto;
}

.lower-button{
  box-sizing: border-box;
  width: 164px;
  height: 59px;
  margin-top: 90px;
  margin-right:380px ;
  margin-left: 359px;
  margin-bottom: 22px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  border-color: rgb(109,109,109);
  color:  rgb(109,109,109);
  }

header{
    padding-top: 70px;
    bottom: 104px;
}

p {
    font-size: 14px;
}


a { 
 text-decoration: none;
 color: rgb(109,109,109);
 font-size: 14px;
 text-transform: uppercase;
}

.page-menu {
    padding-bottom: 106px ;
}

.img-name{
    text-transform: uppercase;
    color: rgb(109,109,109);
    margin-top: 32px;
    font-family: 'Open Sans', sans-serif;
}

.lower-button:hover{
    font-size: 30px;
}

.lifestyle{
    margin-right: 118px;
}

.photodiary{
    margin-right: 102px;
}

.music{
    margin-right: 92px;
}
