html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

header{
    padding-top: 76px;
}

.container {
 width:900px;
 margin: 0 auto; 
 color: rgb(109,109,109)
}

.menu{
    margin:auto 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 0;
    text-align: center;
}

.menu-item {
 margin-right: 96px;
 display: inline-block;
 font-family: 'Playfair Display', serif;
 font-size: 14px;
 text-transform: uppercase;
}


.menu li:last-child{
    margin-right: 0;
}

.menu a{
    display: block;
    text-decoration: none;
    color: rgb(109,109,109);
    font-size: 14px;
    text-transform: uppercase;
}

.menu a:hover{
    color: rgb(3,169,244);
}

.container h2{
    color:rgb(98,98,98);
}

.container p{
    color: rgb(109,109,109);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 32px;
}

.info-item{
    width: 420px;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 56px;
    margin-bottom:136px ;
}


.info h2{
    margin: 0;
    margin-bottom:46px;  
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}

.info{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    margin-bottom: 90px;
    }

.info-item:nth-child(2n){
    margin-right: 0;
}

.info-item:nth-last-child(-n+2){
    margin-bottom: 0;
}


footer{
    width:900px ;
    margin: 0 auto;
}

.lower-button{
  width: 164px;
  height: 60px;
  margin-right:380px ;
  margin-left: 359px;
  font-family: 'Playfair Display', serif;
  background-color: white;
  border-color: rgb(109,109,109);
  color:  rgb(109,109,109);
  }

  section {
      padding-bottom: 22px;  
  }

p {
    font-size: 14px;
}

.info-text{
    color: rgb(109,109,109);
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.page-menu {
    padding-bottom: 106px ;
}

.img-name{
    text-transform: uppercase;
    color: rgb(109,109,109);
    margin-top: 32px;
    font-family: 'Ubuntu', sans-serif;
}

.lower-button:hover{
    font-size: 24px;
}
.lower-button:focus{
    background-color: #21e7e7;
}
